body{
	background-color: #DCC7C7;
}
 
.list_1{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.header{
	margin-bottom: 50px;
}

h1{
	font-size: 36pt;
	margin: 15px;
}

.thumbnail{
	font-weight: bold;
	float: left;
	margin: 0 10px 0 0px;
}

.minic{
	margin-bottom: -15px;
}

.underline{
	text-decoration: underline;		
	margin: 0 0 10px 0;
}

.dec{
	text-decoration: underline;
	float: left;
	margin: 0 10px 0 80px;
}

.cif{
	float: left;
	margin: 0 -75px 0 40px;
}

.lin{
	margin: 35px 0 0 0px;
}

.ball{
	font-size: 16px;
	margin: 0 0 0 50px;
}

.commission{
	float: left;
}

.position{
	font-weight: bold;
	margin: 0 10px 0 80px;
}

.full_name{
	margin: 0 10px 0 90px;
}

.line{
	margin: -4px 0 0 80px;
	border-bottom: 1px solid #000;
	width: 230px;
}

.sign{
	font-size: 8pt;
	margin: 0 10px 0 90px;
}

.sub{
	float: left;
	border-bottom: 1px solid #000;
	margin: 0 0 0 80px;
	width: 100px;
}

.date{
	border-bottom: 1px solid #000;
	margin: 0 0 0 200px;
	width: 100px;
}

.sub_text{
	float: left;
	font-size: 8pt;
	margin: 0 10px 0 108px;
}

.date_text{
	font-size: 8pt;
	margin: 0 10px 0 235px;
}

.instructor{
	float: left;
	margin-left: 50px;
}

.student{
	float: left;
	margin-left: 50px;
}

.normocontroller{
	float: left;
}

.year{
	float: left;
	margin-left: 70px;
	margin-top: 210px;
}

.headline{
	font-weight: bold;
	font-size: 14pt;
}

.list_of_references{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.content{
	margin-left: 40px;
	margin-top: 10px;
}

.list_work{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.text1{
	float: left;
}

.KR{
	font-size: 10pt;
	margin: 0 0 0 180px;
}

.image{
	float: left;
	width: 80px;
	height: 80px;
	margin-left: 100px;
}

.forma{
	font-size: 10pt;
	margin: 0 0 0 160px;
}

.fmi{
	font-size: 10pt;
	margin-left: 120px;
	margin-top: 0px;
}

.faculty{
	float: left;
	margin: 0 10px 0 40px;
}

.subject{
	text-decoration: underline;	
	margin: 0 0 10px 0;
}

.departament{
	float: right;
	margin-right: 0px;
	margin-top: -40px;
}

.statement{
	font-weight: bold;
	margin-bottom: -20px;
}

.mission{
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: -20px;
	margin-left: 320px;
}

.fio{
	font-size: 10pt;
	margin-top: -15px;
}

.lines{
	margin-top: -40px;
	margin-left: 548px;
}

.srok{
	margin: 0 5px 5px 40px;
}

.diagram{
	text-decoration: underline;	
	margin: 0 10px 0 40px;
}

.list_graph{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.border{
	font-weight: bold;
	margin: -20px 10px 10px 40px;
}

.training{
	margin-top: -15px;
}

table {
    border-collapse: collapse;
    margin: 0 10px 0 30px;
}

table td {
    padding: 0 5px;
    border: 1px solid #000;
    text-align: left;
}

.naim{
	text-align: center;
}

.fac{
	float: left;
	margin: 0 10px 0 40px;
}

.fac2020{
	float: left;
	margin: -50px 10px 0 40px;
}

.name{
	margin: -30px 0 0 520px;
}

.l{
  	margin: 0 0 0 300px;
}

.li{
  	margin: 57px 0 0 300px;
}

.facul{
	margin: -24px 0 0 477px;
}

.pod{
	font-size: 12px;
	margin: 0 0 0 350px;
}

.f{
	font-size: 12px;
	margin: -10px 0 0 520px;
}

.list_Soder{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.soderjj{
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.vv{
	margin-left: 110px;
	margin-bottom: 0px;
}
.four{
	margin-left: 525px;
}

.nomber{
	margin-left: 80px;
}

.otstyp{
	margin-left: 20px;
}

.five{
	margin-left: 360px;
}

.nine{
	margin-left: 338px;
}

.fourteen{
	margin-left: 250px;
}

.nineteen{
	margin-left: 473px
}

.twentyfour{
	margin-left: 389px
}

.thirtytwo{
	margin-left: 399px
}

.thirtyseven{
	margin-left: 470px
}

.fiftytwo{
	margin-left: 485px
}

.sixtysix{
	margin-left: 495px
}

.sixtyseven{
	margin-left: 258px
}

.list_4{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.page{
	text-align:  center;
	color: #9e999e;
}

.main_content_text{
  text-indent: 2em;
  text-align:justify;
  margin-bottom: -22px;
  }

.list_5{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.title_content{
  font-weight: 700;
  text-indent: 2em;
  padding-bottom: 25px;
}

.image_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -25px;
}

.cod{
	font-size: 20px;
}

.list_6{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_7{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_8{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_9{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_10{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_11{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_12{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_13{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_14{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_15{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_16{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_17{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_18{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_19{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_20{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_21{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_22{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_23{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_24{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_25{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_26{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_27{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_28{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_29{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_30{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_31{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_32{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_33{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_34{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_35{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_36{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_37{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_38{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_39{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_40{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_41{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_42{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_43{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_44{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_45{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_46{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_47{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_48{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_49{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_50{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_51{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_52{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_53{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_54{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_55{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_56{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_57{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_58{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_59{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_60{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_61{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_62{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_63{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_64{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_65{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.list_66{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 23px;
}

.spisok{
    text-align:justify;
}